.footer-sticky {
    position: sticky;

    bottom: 0;
    width: 100%;
    line-height: 60px;
    background-color: #0868AD;
}

.white-font-fixed {
    color: white;
}

.link-fixed {
    color: white;
    font-weight: 100;
}

.link-fixed:hover {
    color: white;
    font-weight: bold;
}

.container-padding {
    padding-top: 64px;
    padding-bottom: 64px;
}